#form_users {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#form_users section {
  width: 40vw;
  margin-left: 4.5vw;
  margin-right: 4.5vw;
  margin-top: 10px;
  margin-bottom: 10px;

}

#form_users section input, #form_users section select {
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	border-color: #0066cc;
  box-sizing: border-box;
  background-color: white;
}

#form_users button {
  margin: 20px;
}

/*****************************************************************************/
/* Dropzone																																	 */
/*****************************************************************************/

#progress
{
  position:relative;
  width: 100%;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
}

#bar
{
  background-color: #B4F5B4;
  width:0%; height:20px;
  border-radius: 3px;
}

#percent
{
  position:absolute;
  display:inline-block;
  top:3px;
  left:48%;
}

.msg
{
  color: white;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  position: absolute;
  left: 4.5vw;
  text-transform: uppercase;
  min-width: 10px;
}

.msg_ok
{
  background: #589D05;
}

.msg_error
{
  background: red;
}

#dropzone
{
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #0066cc;
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}

#dropzone:focus
{
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #000099;
  box-sizing: border-box;
}

/*****************************************************************************/
/* Error                                                                     */
/*****************************************************************************/

.error_javascript {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 3px solid #ee0000;
  background-color: #ee0000;
  color: #ffffff;
}

.error_php {
  color: #ff0000;
}
